<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>https://farm4.staticflickr.com/3745/10920686685_ddd58f301e_o.jpg</string>
	<string>http://f742a291acf7f6ce2375-d87d8e7b51bb281f7a964c4a606459da.r10.cf1.rackcdn.com/star-wars-memes-3.jpg</string>
	<string>http://i2.kym-cdn.com/photos/images/facebook/000/727/271/081.jpg</string>
	<string>http://www.memepile.com/pics/3621-o.jpg</string>
</array>
</plist>
